@using System.Reflection
@using Xero.NetStandard.OAuth2.Model.Accounting;
@using Newtonsoft.Json;
@model List<PurchaseOrder>

<h2>Xero Purchase Orders</h2>

<table class="table-responsive-lg">
  <tr>
    <th>Data</th>
  </tr>
  @foreach (var obj in Model)
  {
    <tr>
      <td><pre>@JsonConvert.SerializeObject(obj, Formatting.Indented)</pre></td>
    </tr>
  }
</table>

<hr/>
<br />

<button onclick="location.href='@Url.Action("Index", "Home")'">Back</button>
